section.my-experience
  .container 
    .my-experience__title.title-line.animation.initial-hidden.
      расскажу <span>немного <br>про себя</span> и опыт
    .my-experience__keywords.keyword-experienc
      p.keyword-experienc__text Если супер кратко, то вот список ключевых слов:
      ul.keyword-experienc__list 
        li фудтех
        li финтех
        li e-commerce
        li дизайн-система
        li data-driven
        li инициатива
        li софт-скилы
        li ux
        li mvp
        li исследования
        li метрики
      p.keyword-experienc__text Для подробностей нужно немного поскролить вниз и почитать.
