.controller
  .modal-project__back
    p Вернуться к списку проектов
  .project-slide__navigation
    .swiper-button-prev.project-slide__prev
      <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg" fill="none">
        <path d="M12 0L0 7.78378L12 16V0Z" fill="url(#paint0_linear_247_7777)"/>
        <linearGradient id="paint0_linear_247_7777" x1="12" y1="16" x2="-3.75082" y2="5.78154" gradientUnits="userSpaceOnUse">
        <stop stop-color="#7270FF"/>
        <stop offset="1" stop-color="#6002A9"/>
        </linearGradient>
        <linearGradient id="paint0_linear_247_6666" x1="12" y1="16" x2="11.3918" y2="-0.421919" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFA77A"/>
        <stop offset="1" stop-color="#F2BD34"/>
        </linearGradient>
        </svg>
    p Листать проекты
    .swiper-button-next.project-slide__next
      <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0L12 7.78378L0 16V0Z" fill="url(#paint0_linear_247_7777)"/>
      </svg>