section.contacts-section 
  .container 
    .contacts-section__title.title-line.animation.initial-hidden
      <span>как связаться</span> и где найти
    .contacts-section__items 
      .contacts-section__item.initial-hidden
        .contacts-section__text_opacity Отвечу везде, кроме Viber
        a(href="tel:+79995366769").contacts-section__link +7 (999) 536-67-69
      .contacts-section__item.initial-hidden
        .contacts-section__text_opacity Если нужно официально
        a(href="mailto:Enelle@list.ru").contacts-section__link Enelle@list.ru
      .contacts-section__item.initial-hidden
        .contacts-section__text_opacity Можем встретиться офлайн
        .contacts-section__text в Санкт-Петербурге
