extends ../pug/layout.pug

block meta
  title Контакты
  meta(name='description' content='')
  - var headerDopLinkCls = "active-link active-link__contacts"
//-block append head
  link(rel='stylesheet' href='css/some.css')

//-block header

block content
  include ../blocks/contacts-section/contacts-section