section.main-section 
  .container 
    .main-section__title.title-line.initial-hidden
      <span>сделаю дизайн</span> сайта,<br> приложения или сервиса
    .main-section__greetings
      .main-section__image.initial-hidden
      .main-section__item.initial-hidden
        .main-section__sub-title.
          Привет! Я Семён Вишневский — дизайнер цифровых продуктов
        .main-section__text.
          Помогу запустить <br> тебе  проект или возьму <br>на поддержку уже готовый
