-
  projects = [
    {
      images: [
        {src: "./img/cards/6.png"},
        {src: "./img/cards/2.png"},
        {src: "./img/cards/1.png"},
        {src: "./img/cards/2.png"},
        {src: "./img/cards/3.png"}, 
      ],
      title: "UMiPAY — cервис для обмена криптовалютой",
      date: "Дизайн сайта [ 2018 ]",
      description: "Внедряет профессиональные финансовые услуги в мир цифровых активов с 2018 года. Благодаря многолетнему успешному опыту работы своей команды в области финансовых технологий и мощи технологии блокчейна предлагает тысячам людей возможность реализовать потенциал своих криптоактивов и стать у истоков новой, более совершенной финансовой системы.",
      link: {
        name: "Umipay.com",
        href: "https://vk.com/feed"
      },
      status: "Передан инвесторам для демо",
      companyName: "Artu.Studio"
    },
    {
      images: [
        {src: "./img/cards/2.png"},
        {src: "./img/cards/1.png"},
        {src: "./img/cards/3.png"}
      ],
      title: "My Planet — Фотоальбом для детей",
      date: "Дизайн сайта [ 2018 ]",
      description: "Внедряет профессиональные финансовые услуги в мир цифровых активов с 2018 года. Благодаря многолетнему успешному опыту работы своей команды в области финансовых технологий и мощи технологии блокчейна предлагает тысячам людей возможность реализовать потенциал своих криптоактивов и стать у истоков новой, более совершенной финансовой системы.",
      link: {
        name: "Umipay.com",
        href: "https://vk.com/feed"
      },
      status: "Передан инвесторам для демо",
      companyName: "Artu.Studio"
    },
    {
      images: [
        {src: "./img/cards/3.png"},
        {src: "./img/cards/2.png"},
        {src: "./img/cards/1.png"}
      ],
      title: "ANGRY Developers — Команда разработки финтех сервисов",
      date: "Дизайн сайта [ 2019 ]",
      description: "Внедряет профессиональные финансовые услуги в мир цифровых активов с 2018 года. Благодаря многолетнему успешному опыту работы своей команды в области финансовых технологий и мощи технологии блокчейна предлагает тысячам людей возможность реализовать потенциал своих криптоактивов и стать у истоков новой, более совершенной финансовой системы.",
      link: {
        name: "Umipay.com",
        href: "https://vk.com/feed"
      },
      status: "Передан инвесторам для демо",
      companyName: "Artu.Studio"
    },
    {
      images: [
        {src: "./img/cards/4.png"},
        {src: "./img/cards/2.png"},
        {src: "./img/cards/1.png"}
      ],
      title: "Dostaевский — cервис доставки еды",
      date: "Дизайн сайта [ 2020 ]",
      description: "Внедряет профессиональные финансовые услуги в мир цифровых активов с 2018 года. Благодаря многолетнему успешному опыту работы своей команды в области финансовых технологий и мощи технологии блокчейна предлагает тысячам людей возможность реализовать потенциал своих криптоактивов и стать у истоков новой, более совершенной финансовой системы.",
      link: {
        name: "Umipay.com",
        href: "https://vk.com/feed"
      },
      status: "Передан инвесторам для демо",
      companyName: "Artu.Studio"
    },
    {
      images: [
        {src: "./img/cards/5.png"},
        {src: "./img/cards/2.png"},
        {src: "./img/cards/3.png"}
      ],
      title: "The Fathers Capital — Проект по поиску стартапов",
      date: "Дизайн сайта [ 2018 ]",
      description: "Внедряет профессиональные финансовые услуги в мир цифровых активов с 2018 года. Благодаря многолетнему успешному опыту работы своей команды в области финансовых технологий и мощи технологии блокчейна предлагает тысячам людей возможность реализовать потенциал своих криптоактивов и стать у истоков новой, более совершенной финансовой системы.",
      link: {
        name: "Umipay.com",
        href: "https://vk.com/feed"
      },
      status: "Передан инвесторам для демо",
      companyName: "Artu.Studio"
    },
    {
      images: [
        {src: "./img/cards/1.png"},
        {src: "./img/cards/2.png"},
        {src: "./img/cards/3.png"}
      ],
      title: "ANGRY Developers — Команда разработки финтех сервисов",
      date: "Дизайн сайта [ 2019 ]",
      description: "Внедряет профессиональные финансовые услуги в мир цифровых активов с 2018 года. Благодаря многолетнему успешному опыту работы своей команды в области финансовых технологий и мощи технологии блокчейна предлагает тысячам людей возможность реализовать потенциал своих криптоактивов и стать у истоков новой, более совершенной финансовой системы.",
      link: {
        name: "Umipay.com",
        href: "https://vk.com/feed"
      },
      status: "Передан инвесторам для демо",
      companyName: "Artu.Studio"
    },
  ]

.modal-project
  .modal-project__content
    .swiper.modal-project__swiper
      .swiper-wrapper
        each project in projects
          +project-slide(
            project.images,
            project.title,
            project.date,
            project.description,
            project.link,
            project.status,
            project.companyName
            )
      .modal-project__back.adaptive
        p Вернуться к списку проектов


