header.header(class=headerDopCls)
    .container 
        .header__body 
            .header__list(class=headerDopLinkCls) 
                ul 
                    li 
                        a(href="index.html").head__link Главная
                    li 
                        a(href="about-me.html").head__link Про меня
                    li 
                        a(href="projects.html").head__link Проекты
                    li 
                        a(href="contacts.html").head__link Контакты
            .header__switch(class=headerDopSwitchCls)
                p Тема оформления
                input(type="checkbox").switch

